{% extends 'base.html.twig' %}

{% block body %}

		<main class="main">

			<section id="about-us-sect">
				<div class="container">
					<div class="row">
						<div class="col-12">

							<div class="sect-title">
								<div class="row">
									<div class="col-md-4 text-md-left">

										<a href="/" class="to-home-btn bttn bttn-xs bttn-sky-blue-gradient bttn-border"><span id="reply-icon"></span>На главную</a>

									</div>
									<div class="col-md-4 mt-4 mt-md-0">

										<h3>О нас</h3>

									</div>
								</div>
							</div>

							<div class="about-us-content">

								<div class="about-us-intro-box text-box">
									<div class="text-center">
										<a style="height: 95px;" href="/" class="logo"></a>
									</div>

									<p><b>ООО "Мон Ами"</b> - это оптово-торговая компания, которая осуществляет прямые поставки в Беларусь из ОАЭ, с заводов Китая и Европы. В предложениях от «Мон Ами» вы найдете: товары для дома и офиса, посуду и кухонные принадлежности, товары для отдыха и ландшафтного дизайна из керамики, стекла, металла, пластмассы, а также сувениры оптом. Мы работаем с розничными и оптовыми предприятиями Минска и Беларуси. Наша задача заключается в содействии клиентам в развитии высокодоходных специализированных секций по этим группам товаров, с устойчивым товарооборотом и прибылью.</p>
								</div>

								<div class="about-us-info mt-5">
									<div class="row">
										<div class="col-lg-10 offset-lg-1">

											<h6>ООО "Мон Ами" поставщик сувенирной продукции и товаров для дома:</h6>

											{{ page.contacts | raw }}


											<h6>Сувениры оптом на каждый сезон:</h6>

											{{ page.requisites | raw }}

											<br/>

											<h6>Как мы это делаем?</h6>

											{{ page.map | raw }}



										</div>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</section>

		</main>

{% endblock %}
