{% extends 'base.html.twig' %}

{% block body %}

		<main class="main">

			<section id="about-us-sect">
				<div class="container">
					<div class="row">
						<div class="col-12">
							
							<div class="sect-title">
								<div class="row">
									<div class="col-md-4 text-md-left">
										
										<a href="/" class="to-home-btn bttn bttn-xs bttn-sky-blue-gradient bttn-border"><span id="reply-icon"></span>На главную</a>

									</div>
									<div class="col-md-4 mt-4 mt-md-0">
										
										<h3>О нас</h3>

									</div>
								</div>
							</div>

							<div class="about-us-content">

								<div class="about-us-intro-box text-box">
									<div class="text-center">
										<a href="/" class="logo"></a>
									</div>

									<p><b>ООО "Мон Ами"</b> - это оптово-торговая компания, которая осуществляет прямые поставки в Беларусь из ОАЭ, с заводов Китая и Европы. В предложениях от «Мон Ами» вы найдете: товары для дома и офиса, посуду и кухонные принадлежности, товары для отдыха и ландшафтного дизайна из керамики, стекла, металла, пластмассы, а также сувениры оптом. Мы работаем с розничными и оптовыми предприятиями Минска и Беларуси. Наша задача заключается в содействии клиентам в развитии высокодоходных специализированных секций по этим группам товаров, с устойчивым товарооборотом и прибылью.</p>
								</div>

								<div class="about-us-info mt-5">
									<div class="row">
										<div class="col-lg-10 offset-lg-1">

											<h6>ООО "Мон Ами" поставщик сувенирной продукции и товаров для дома:</h6>

											<br>

											<ul class="list-group">
												<li>мы не относимся к посредникам в цепи торговых фирм, мы работаем напрямую с производителями, благодаря чему мы готовы предложить лучшую рыночную цену, будь то сувениры оптом или товары для офиса, дома;</li>
												<li>привезем товар с Вашим логотипом, по Вашему эскизу и дизайну, причем на более выгодных условиях, чем Вам предложит завод;</li>
												<li>закажем товар для Вас - и только - по Вашему запросу с минимальной наценкой и максимальной гарантией;</li>
												<li>гарантия соблюдения законности: весь товар ввозится на территорию Республики Беларусь  официально,   соблюдаются все требования таможенного законодательства и производится уплата всех таможенных пошлин;</li>
												<li>качество нашего товара подтверждено соответствию требованиям законодательства Республики Беларусь и Таможенного союза;</li>
												<li>постоянно изучаем ситуацию на рынке, и имеем компетентное представление о соотношении цены и качества.</li>
											</ul>

											<br>

											<h6>Сувениры оптом на каждый сезон:</h6>

											<br>

											<ul class="list-group">
												<li>к Новому Году: сувениры оптом - Символ года (фигурки, магниты), искусственные елки, новогодние украшения (мишура, шары, бумажные плакаты, наклейки на стекло), электрогирлянды, подарочные пакеты;</li>
												<li>к 23 Февраля: подарки для мужчин (фляги, наборы винные, мини-бары, подарочные панно, декоративные сувениры-фигурки, термосы, раскладные стулья для рыбалки, пикника);</li>
												<li>к 8 Марта: подарки для женщин (карманные зеркальца, фоторамки, веера, вазы, посуда, наборы свечей, арома-наборы, шкатулки, кейсы декоративные);</li>
												<li>летнему сезону: гамаки, мангалы,решетки-гриль, шезлонги, садовые фигуры, палатки, спальные мешки; многолетний опыт позволяет поддерживать ассортимент продукции в зависимости от изменений рынка.</li>
											</ul>

											<br>

											<h6>Работая в розницу с нами, вы получаете следующие преимущества:</h6>

											<br>

											<ul class="list-group">
												<li>минимальная товарная наценка;</li>
												<li>уцененный товар со скикдкой до 60%;</li>
												<li>дисконтная система для постоянных покупателей.</li>
											</ul>

											<br>

											<h6>Как мы это делаем?</h6>

											<br>

											<ul class="list-group">
												<li>удобные и выгодные условия работы;</li>
												<li>гибкая система скидок;</li>
												<li>бесплатная доставка по всей Беларуси;</li>
												<li>постоянно обновляющийся ассортимент товаров;</li>
												<li>цена на 20% ниже рыночной;</li>
												<li>еженедельные поставки.</li>
											</ul>

										</div>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</section>

		</main>

{% endblock %}