{% extends 'base.html.twig' %}

{% block body %}

		<main class="main">

			<section id="conditions-sect">
				<div class="container">
					<div class="row">
						<div class="col-12">

							<div class="sect-title">
								<div class="row">
									<div class="col-md-3 text-md-left">

										<a href="/" class="to-home-btn bttn bttn-xs bttn-sky-blue-gradient bttn-border"><span id="reply-icon"></span>На главную</a>

									</div>
									<div class="col-md-6 mt-4 mt-md-0">

										<h3>Условия сотрудничества</h3>

									</div>
								</div>
							</div>

							<div class="conditions-content">
								<div class="row">
									<div class="col-lg-10 offset-lg-1">

										<h6 class="mb-4 highlight-text text-center">С кем мы работаем?</h6>
										{{ page.contacts | raw }}

										<h6 class="mb-4 highlight-text text-center">Режим работы!</h6>

										{{ page.requisites | raw }}

										<h6 class="mb-4 highlight-text text-center">Наши условия!</h6>

										{{ page.map | raw }}
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</section>

		</main>

{% endblock %}
