{% extends 'base.html.twig' %}

{% block body %}

		<main class="main">

			<section id="discounted-goods-sect">
				<div class="container">
					<div class="row">
						<div class="col-12">

							<div class="sect-title">
								<div class="row">
									<div class="col-md-4 text-md-left">

										<a href="/" class="to-home-btn bttn bttn-xs bttn-sky-blue-gradient bttn-border"><span id="reply-icon"></span>На главную</a>

									</div>
									<div class="col-md-4 mt-4 mt-md-0">

										<h3>Уцененный товар</h3>

									</div>
								</div>
							</div>

							<div class="discounted-goods-content">
								<h6 class="mb-5 highlight-text text-center">Товар с дефектом по сниженной цене</h6>

								<h4 class="text-uppercase">{{ page.title|raw }}</h4>

								<p>{{ page.description|raw }}</p>
							</div>

						</div>
					</div>
				</div>
			</section>

		</main>

{% endblock %}
