{% extends 'base.html.twig' %}

{% block body %}

    <main class="main">

        <section id="vacancies-sect">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <div class="sect-title">
                            <div class="row">
                                <div class="col-md-4 text-md-left">

                                    <a href="/"
                                       class="to-home-btn bttn bttn-xs bttn-sky-blue-gradient bttn-border"><span
                                                id="reply-icon"></span>На главную</a>

                                </div>
                                <div class="col-md-4 mt-4 mt-md-0">

                                    <h3>Вакансии</h3>

                                </div>
                            </div>
                        </div>

                        <div class="vacancies-content">
                            <div class="row">
                                {% for key, vacancyInfo in vacancies %}
                                    <div class="col-10 offset-1">

                                        <h6 class="highlight-text text-center">{{ key|raw }}</h6>

                                        <br><br>

                                        {% for blockInfo in vacancyInfo %}
                                            <h6>{{ blockInfo.title|raw }}</h6>
                                            <br>

                                            {{ blockInfo.description|raw }}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <br/><br/><br/><br/><br/><br/><br/>

                    </div>
                </div>
            </div>
        </section>

    </main>

{% endblock %}
