{% extends 'base.html.twig' %}

{% block body %}

		<main class="main">

			<section id="account-header-sect">
				<div class="container">
					<div class="row">
						<div class="col-12">
							
							<div class="sect-title">
								<div class="row">
									<div class="col-md-4 text-md-left">
										
										<a href="/" class="to-home-btn bttn bttn-xs bttn-sky-blue-gradient bttn-border"><span id="reply-icon"></span>На главную</a>

									</div>
									<div class="col-md-4 mt-4 mt-md-0">
										
										<h3>Личный кабинет</h3>

									</div>
								</div>
							</div>

							<div class="account-nav-list">
								<a href="account-personal.html" class="account-nav-item card-box">
									<span class="nav-icon" style="background-image: url(./img/icons/account/account-profile-icon.png);"></span>
									<h6 class="nav-title">Персональные данные</h6>
								</a>
								
								<a href="account-basket.html" class="account-nav-item card-box active">
									<span class="nav-icon" style="background-image: url(./img/icons/account/account-shop-cart-icon.png);"></span>
									<h6 class="nav-title">Корзина</h6>
								</a>
								
								<a href="account-orders-history.html" class="account-nav-item card-box">
									<span class="nav-icon" style="background-image: url(./img/icons/account/account-orders-history-icon.png);"></span>
									<h6 class="nav-title">История заказов</h6>
								</a>
								
								<a href="account-feedback.html" class="account-nav-item card-box">
									<span class="nav-icon" style="background-image: url(./img/icons/account/account-feedback-icon.png);"></span>
									<h6 class="nav-title">Обратная связь</h6>
								</a>
							</div>

						</div>
					</div>
				</div>
			</section>

			<section id="account-basket-sect">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-lg-3 offset-md-2 offset-lg-0">
							
							<div class="account-basket-summary-block card-box">
								<h6 id="full-price-text">Общая стоимость:</h6>

								<ul class="price-cheque">
									<li>
										<div class="cheque-name">Товары</div>
										<div class="cheque-value">15.8 <span class="cur">BYN</span></div>
									</li>

									<li>
										<div class="cheque-name">Доставка</div>
										<div class="cheque-value">15.8 <span class="cur">BYN</span></div>
									</li>
								</ul>

								<h6 id="summary-text">Итого:</h6>
								<div id="summary-price">45.8 <span class="cur">BYN</span></div>

								<form class="basket-order-form">
									<input type="text" id="promo-input" placeholder="Введите промокод">
									<div id="discount-text">Ваша скидка - <span id="discount-sum">0%</span></div>
									<button id="make-order-btn" class="bttn bttn-sm bttn-block bttn-sky-blue-gradient">Оформить заказ</button>
									<a href="#" id="buy-at-retail-btn" class="bttn bttn-sm bttn-block bttn-crimson-gradient">Купить в розницу</a>
									<div id="save-to-excell-btn"><img src="./img/icons/excell-icon.png" id="excell-icon" alt=""> Сохранить товары в .xls</div>
								</form>
							</div>

						</div>
						<div class="col-lg-9 mt-5 mt-lg-0">
							
							<div class="products-list-utilites-bar card-box">
								<div class="sort-by-wrap">
									<div class="sort-by-text">Показывать:</div>
									
									<ul class="sort-by-list">
										<li class="sort-by-item active"><a href="#">16</a></li>
										<li class="sort-by-item"><a href="#">32</a></li>
										<li class="sort-by-item"><a href="#">64</a></li>
										<li class="sort-by-item"><a href="#">128</a></li>
										<li class="sort-by-item"><a href="#">256</a></li>
										<li class="sort-by-item"><a href="#">Все</a></li>
									</ul>
								</div>
							</div>

							<div class="products-list products-list-standart">

								<div class="product-item">
									<div class="product-code">291229</div>
									
									<a href="#" class="product-image" style="background-image: url(./img/product-preview-img.png);"></a>

									<div class="product-descr-wrap">
										<a href="#" class="product-name">Губки СММ-155</a>
																				
										<div class="product-full-descr">губки для мытья посуды</div>

										<div class="product-origin-text">Производитель: Китай</div>

										<div class="product-quantity-text">В упаковке 5 губок</div>
									</div>
									
									<div class="product-price-wrap">
										<div class="product-price">15.8 BYN</div>
										
										<div class="basket-quant-text">в корзине <span class="quant">5 штук</span></div>
									</div>
								</div>

								<div class="product-item">
									<div class="product-code">291229</div>
									
									<a href="#" class="product-image" style="background-image: url(./img/product-preview-img.png);"></a>

									<div class="product-descr-wrap">
										<a href="#" class="product-name">Губки СММ-155</a>
																				
										<div class="product-full-descr">губки для мытья посуды</div>

										<div class="product-origin-text">Производитель: Китай</div>

										<div class="product-quantity-text">В упаковке 5 губок</div>
									</div>
									
									<div class="product-price-wrap">
										<div class="product-price">15.8 BYN</div>
										
										<div class="basket-quant-text">в корзине <span class="quant">5 штук</span></div>
									</div>
								</div>

								<div class="product-item">
									<div class="product-code">291229</div>
									
									<a href="#" class="product-image" style="background-image: url(./img/product-preview-img.png);"></a>

									<div class="product-descr-wrap">
										<a href="#" class="product-name">Губки СММ-155</a>
																				
										<div class="product-full-descr">губки для мытья посуды</div>

										<div class="product-origin-text">Производитель: Китай</div>

										<div class="product-quantity-text">В упаковке 5 губок</div>
									</div>
									
									<div class="product-price-wrap">
										<div class="product-price">15.8 BYN</div>
										
										<div class="basket-quant-text">в корзине <span class="quant">5 штук</span></div>
									</div>
								</div>

								<div class="product-item">
									<div class="product-code">291229</div>
									
									<a href="#" class="product-image" style="background-image: url(./img/product-preview-img.png);"></a>

									<div class="product-descr-wrap">
										<a href="#" class="product-name">Губки СММ-155</a>
																				
										<div class="product-full-descr">губки для мытья посуды</div>

										<div class="product-origin-text">Производитель: Китай</div>

										<div class="product-quantity-text">В упаковке 5 губок</div>
									</div>
									
									<div class="product-price-wrap">
										<div class="product-price">15.8 BYN</div>
										
										<div class="basket-quant-text">в корзине <span class="quant">5 штук</span></div>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</section>

			<section id="search-sect">
				<div class="container">
					<div class="row">
						<div class="col-xs-8 col-lg-6 offset-xs-2 offset-lg-3">
							
							<form class="search-bar-form">
								<input type="text" class="search-bar" placeholder="Введите ваш запрос">
								<button class="search-submit-btn bttn bttn-sm bttn-sky-blue-gradient"><i class="fa fa-search"></i> &nbsp; Искать</button>
							</form>

						</div>
					</div>
				</div>
			</section>

		</main>

{% endblock %}