{% extends 'base.html.twig' %}

{% block body %}

		<main class="main">

			<section id="conditions-sect">
				<div class="container">
					<div class="row">
						<div class="col-12">
							
							<div class="sect-title">
								<div class="row">
									<div class="col-md-3 text-md-left">
										
										<a href="/" class="to-home-btn bttn bttn-xs bttn-sky-blue-gradient bttn-border"><span id="reply-icon"></span>На главную</a>

									</div>
									<div class="col-md-6 mt-4 mt-md-0">
										
										<h3>Условия сотрудничества</h3>

									</div>
								</div>
							</div>

							<div class="conditions-content">
								<div class="row">
									<div class="col-lg-10 offset-lg-1">
										
										<h6 class="mb-4 highlight-text text-center">С кем мы работаем?</h6>

										<p>Мы работаем с розничными и оптовыми предприятиями Минска и Беларуси , со всеми формами собственности.</p>

										<br>

										<h6 class="mb-4 highlight-text text-center">Режим работы!</h6>

										<div id="working-time-block">
											<img src="./img/icons/stopwatch-icon.png" id="working-time-icon" alt="">
											<p>Мы работаем ежедневно с <span class="highlight-text">9.00</span> до <span class="highlight-text">18.00</span></p>
											<p>Выходные дни - суббота / воскресенье</p>
										</div>

										<br>

										<h6 class="mb-4 highlight-text text-center">Наши условия!</h6>

										<p>1. Мы работаем  по безналичному расчету, на основании заключенного с Вами договора;</p>
										<p class="mt-4">2. Для заключения договора с нашей компанией при себе иметь:</p>
										<p class="mt-4 pl-4">а) заверенную копию свидетельства о гос. регистрации,</p>
										<p class="mt-4 pl-4">б) реквизиты вашей организации и печать, если у Вас она есть.</p>
										<p class="mt-4 pl-4">в) в случае заключения договора доверенным лицом, при себе иметь оригинальную доверенность на заключение договора.</p>
										<p class="mt-4">3. Условия по оплате отдельно оговариваются с Вашим менеджером.</p>
										<p class="mt-4">4. Вы так же сможете приобрести наш товар за наличный расчет  в розницу .</p>

										<h6 class="mt-4 highlight-text text-center">Наши преимущества!</h6>

										<p class="mt-4">Гибкая система скидок, смотрите <span class="highlight-text">положение о скидках</span>;</p>
										<p class="mt-4">Бесплатная доставка по всей Республике Беларусь;</p>
										<p class="mt-4">Удобные условия работы;</p>
										<p class="mt-4">Мы закупаем 80% товара  только с заводов и поэтому можем предложить цену на 20% ниже рыночной ;</p>
										<p class="mt-4">Еженедельные поставки на склад как новинок, так и пополнение остатков.</p>
										<p class="mt-4">Вы можете делать заказ на нашем сайте в режиме реальных остатков  ( остатки обновляются каждые два часа);</p>

										<h6 class="mt-4 highlight-text text-center">Наши цены!</h6>

										<p class="mt-4">Для того, что бы получить наш прайс лист или увидеть цены и остатки на сайте , Вам нужно заключить договор с нашей компанией ! После этого Вы получите пароль / логин и сможете видеть реальные остатки и цены на товар, а также делать заказ через сайт. </p>

									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</section>

		</main>

{% endblock %}