{% extends 'base.html.twig' %}

{% block body %}

		<main class="main">

			<section id="breadcrumbs-sect">
				<div class="container">
					<div class="row">
						<div class="col-12">
							
							<ul class="breadcrumbs">
								<li class="breadcrumbs-item">Главная</li>
								<li class="breadcrumbs-item">Кухонные принадлежности</li>
								<li class="breadcrumbs-item">Губки, щетки, скребки для мытья</li>
								<li class="breadcrumbs-item">Губка CMM-155</li>
							</ul>

						</div>
					</div>
				</div>
			</section>

			<section id="subcategories-sect">
				<div class="container">
					<div class="row">
						<div class="col-12">
							
							<div class="sect-title">
								<h3>Кухонные принадлежности</h3>
							</div>

							<div class="subcategories-list">
								<div class="row">
									<div class="col-xs-6 col-sm-4 col-md-3">
										
										<a href="#" class="subcategory-item">
											<div class="subcategory-image" style="background-image: url(./img/subcategories/subcategory1-img.jpg);"></div>
											<h4 class="subcategory-title">Ножи</h4>
										</a>

									</div>
									<div class="col-xs-6 col-sm-4 col-md-3">
										
										<a href="#" class="subcategory-item">
											<div class="subcategory-image" style="background-image: url(./img/subcategories/subcategory2-img.jpg);"></div>
											<h4 class="subcategory-title">Губки, щетки, скребки для мытья</h4>
										</a>

									</div>
									<div class="col-xs-6 col-sm-4 col-md-3">
										
										<a href="#" class="subcategory-item">
											<div class="subcategory-image" style="background-image: url(./img/subcategories/subcategory1-img.jpg);"></div>
											<h4 class="subcategory-title">Ножи</h4>
										</a>

									</div>
									<div class="col-xs-6 col-sm-4 col-md-3">
										
										<a href="#" class="subcategory-item">
											<div class="subcategory-image" style="background-image: url(./img/subcategories/subcategory2-img.jpg);"></div>
											<h4 class="subcategory-title">Губки, щетки, скребки для мытья</h4>
										</a>

									</div>
									<div class="col-xs-6 col-sm-4 col-md-3">
										
										<a href="#" class="subcategory-item">
											<div class="subcategory-image" style="background-image: url(./img/subcategories/subcategory1-img.jpg);"></div>
											<h4 class="subcategory-title">Ножи</h4>
										</a>

									</div>
									<div class="col-xs-6 col-sm-4 col-md-3">
										
										<a href="#" class="subcategory-item">
											<div class="subcategory-image" style="background-image: url(./img/subcategories/subcategory2-img.jpg);"></div>
											<h4 class="subcategory-title">Губки, щетки, скребки для мытья</h4>
										</a>

									</div>
									<div class="col-xs-6 col-sm-4 col-md-3">
										
										<a href="#" class="subcategory-item">
											<div class="subcategory-image" style="background-image: url(./img/subcategories/subcategory1-img.jpg);"></div>
											<h4 class="subcategory-title">Ножи</h4>
										</a>

									</div>
									<div class="col-xs-6 col-sm-4 col-md-3">
										
										<a href="#" class="subcategory-item">
											<div class="subcategory-image" style="background-image: url(./img/subcategories/subcategory2-img.jpg);"></div>
											<h4 class="subcategory-title">Губки, щетки, скребки для мытья</h4>
										</a>

									</div>
									<div class="col-xs-6 col-sm-4 col-md-3">
										
										<a href="#" class="subcategory-item">
											<div class="subcategory-image" style="background-image: url(./img/subcategories/subcategory1-img.jpg);"></div>
											<h4 class="subcategory-title">Ножи</h4>
										</a>

									</div>
									<div class="col-xs-6 col-sm-4 col-md-3">
										
										<a href="#" class="subcategory-item">
											<div class="subcategory-image" style="background-image: url(./img/subcategories/subcategory2-img.jpg);"></div>
											<h4 class="subcategory-title">Губки, щетки, скребки для мытья</h4>
										</a>

									</div>
									<div class="col-xs-6 col-sm-4 col-md-3">
										
										<a href="#" class="subcategory-item">
											<div class="subcategory-image" style="background-image: url(./img/subcategories/subcategory1-img.jpg);"></div>
											<h4 class="subcategory-title">Ножи</h4>
										</a>

									</div>
									<div class="col-xs-6 col-sm-4 col-md-3">
										
										<a href="#" class="subcategory-item">
											<div class="subcategory-image" style="background-image: url(./img/subcategories/subcategory2-img.jpg);"></div>
											<h4 class="subcategory-title">Губки, щетки, скребки для мытья</h4>
										</a>

									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</section>

			<section id="search-sect">
				<div class="container">
					<div class="row">
						<div class="col-xs-8 col-lg-6 offset-xs-2 offset-lg-3">
							
							<form class="search-bar-form">
								<input type="text" class="search-bar" placeholder="Введите ваш запрос">
								<button class="search-submit-btn bttn bttn-sm bttn-sky-blue-gradient"><i class="fa fa-search"></i> &nbsp; Искать</button>
							</form>

						</div>
					</div>
				</div>
			</section>

		</main>

{% endblock %}