{% extends 'base.html.twig' %}

{% block body %}

		<main class="main">

			<section id="vacancies-sect">
				<div class="container">
					<div class="row">
						<div class="col-12">
							
							<div class="sect-title">
								<div class="row">
									<div class="col-md-4 text-md-left">
										
										<a href="/" class="to-home-btn bttn bttn-xs bttn-sky-blue-gradient bttn-border"><span id="reply-icon"></span>На главную</a>

									</div>
									<div class="col-md-4 mt-4 mt-md-0">
										
										<h3>Вакансии</h3>

									</div>
								</div>
							</div>

							<div class="vacancies-content">
								<div class="row">
									<div class="col-10 offset-1">

										<h6 class="highlight-text text-center">Специалист по продажам - Менеджер (вакансия от 06.10.2017)</h6>

										<div class="row mt-5">
											<div class="col-5">
												
												<h6>ООО Мон Ами</h6>
												<h6>Уровень зарплаты от 700 бел. руб.</h6>
												<p><b>Город:</b> Минск</p>
												<p><b>Требуемый опыт работы: 3-6 лет</b></p>

											</div>
											<div class="col-7">
												
												<p><b>Ключевые навыки:</b> Прямые продажи, Развитие продаж, Поиск и привлечение клиентов</p>
												<p><b>Резюме высылайте на адрес:</b> info@monami.by</p>

											</div>
										</div>

										<br><br>

										<h6>Обязанности:</h6>

										<p>- командировки по РБ;</p>
										<p>- сопровождение продаж, контроль дебиторской задолженности;</p>
										<p>- прием и обработка заявок</p>
										<p>- прямые продажи - то есть встречи с покупателями</p>
										<p>- активный поиск и привлечение новых клиентов</p>
										<p>- установление контактов с потенциальными клиентами</p>
										<p>- развитие партнерских отношений</p>
										<p>- расширение клиентской базы</p>
										<p>- выполнения планов, поставленных руководством</p>
										<p>- продвижение торговых марок;</p>
										<p>- планирование, ежедневная отчетность;</p>
										<p>- мониторинг рынка; сбор информации по конкурентам;</p>
										<p>- составление коммерческих предложений, счетов и заключение договоров;</p>

										<br><br>

										<h6>Требования:</h6>

										<p>- опыт работы в продажах ОБЯЗАТЕЛЕН не менее 3 лет</p>
										<p>- ЗНАНИЕ КЛИЕНТСКОЙ БАЗЫ (ОБЯЗАТЕЛЬНО).</p>
										<p>- НАЛИЧИЕ ЛИЧНОГО АВТОМОБИЛЯ И ПРАВ КАТЕГОРИИ "В" ОБЯЗАТЕЛЬНО!</p>
										<p>- умение решать задачи и достигать результатов</p>
										<p>- уверенный ПК-пользователь</p>
										<p>- хорошие коммуникативные навыки,коммуникабельность</p>
										<p>- стрессоустойчивость, трудолюбие</p>

										<br><br>

										<h6>Условия:</h6>

										<p>- официальное оформление</p>
										<p>- социальные гарантии, предусмотренные ТК РБ</p>
										<p>- группа товаров: непродовольственные товары (сувенирная продукция, посуда)</p>
										<p>- заработная плата: оклад + премия</p>
										<p>- конкретный размер заработной платы оговаривается на собеседовании</p>
										<p>- компенсация расходов топлива и мобильной связи</p>
										<p>- комфортабельный офис</p>

										<br><br>

										<h6>Адрес:</h6>

										<p>Минск, улица Бабушкина, 6а</p>
										<p>Показать на карте</p>

										<br><br>

										<h6>Тип занятости</h6>

										<p>Полная занятость, полный день</p>
								
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</section>

		</main>

{% endblock %}