<section id="search-sect" ng-controller="SearchCtrl as search">
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-lg-6 offset-xs-2 offset-lg-3">

                <form class="search-bar-form" ng-class="{'hints-active' : search.products.length > 0}">
                    <input type="text" class="search-bar" ng-model="search.text" ng-change="search.text.length > 1 ? search.search(search.text) : ''" placeholder="Введите ваш запрос">
                    <button class="search-submit-btn bttn bttn-sm bttn-sky-blue-gradient" ng-click="search.showResults(search.text)"><i class="fa fa-search"></i> &nbsp; Искать</button>
                    <div class="search-hints-wrapper">
                        <ul class="hints-list" ng-repeat="product in search.products">
                            <li class="hint-item"><a ng-href="/product/{{ '{{ product.id }}' }}" ng-bind="product.name"></a></li>
                        </ul>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>